*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}
body{
    width: 100%;
    background-color: #000000;
    font-family: 'Sora', sans-serif;
    color: white;

}
.paginas h3{
  color: white;
  margin-top: 15px;
  margin-bottom: 5px;
}
.paginas a{
  text-decoration: none;
}
.paginas p{
  font-weight: 200;
  margin-bottom: 15px;
}
.botoni{
  border: 2px solid rgb(134,164,53);
  color: rgb(134,164,53);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
}
.botoni:hover{
  background-color: rgb(59, 59, 59);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: #000000;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
   position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid white;
}
#icon-home{
    height: 30px;
    border-radius: 5px;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.header a{
  width: 200px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
 color: #c4c4c4;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #c4c4c4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#bar{
color: white;
font-size: 22px;
}
#mobile{
    display: none;
    align-items: center;
}    
#close{
    display: none;
    color: white;}



#banner{

  width: 100%;
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: black;


}
#texto
{width: 60%;
   
}
#imagen{
    width: 40%;
display: flex}
#imagen img{
    width: 100%;
    max-width: 450px;
}
#texto p{
color: white;
width: 100%;
max-width: 700px;
margin: 0px auto;

font-size: 20px;
font-style: bold;
}
#texto h1{
    color: white;
    font-size: 30px;
    font-weight: italic;
    margin-bottom: 10px;

}

.target{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    margin-right: 0;
    border: 2px solid ;
    border-radius: 10px;
    padding-top: 25px;
    margin-bottom: 2%;
    margin-top: 3%;   
    background-color: #141414;
    align-items: center;
    align-content: center;
}
.target h1{
    margin-bottom: 15px;
}
.target-in{
    position: relative;
    align-items: center;
    align-content: center;
    margin: 15px;
    display: flex;
}

.target:hover {
    background-color: rgb(2, 2, 2);
    box-shadow: 10px 10px 10px rgb(49, 48, 48);
}
.target-text{
    width: 65%;
    float: left;
 margin-left: 4%;
 margin-right: 4%;
 color: white;
}
#foto{
    margin-right: 0px auto;
}
#verde{
    color: rgb(134,164,53);
}
#gris{
   color: beige;
    font-weight: 800;
}
.target-img{
    width: 35%;

}
.target-img img{
    height: 100%;
    max-height: 200px;

}
.container {
max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;

  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    padding: 25px;
width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(134,164,53);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }
  #container{
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
  }


  .paginas{
    width: 40%;
margin-left: 5%;
margin-top: 2%;
margin-bottom: 2%;
margin-right: 5%;

  }
  
  #paginas-foto{
    width: 100%;

    border-radius: 5px;
  }
  #porfolio h1{
    width: 90%;
    border-bottom: 2px solid rgb(134,164,53);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 5%;
   text-align: center;
  }

  #wpp-float{
    background-color: rgb(37,211,102);
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 55px;
    right: 55px;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
    text-decoration: none;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000000;
    padding-bottom: 1.5%;
    margin-top: 100px;
    border-top: 1px solid white;
    padding: 15px;
}
footer p {
    width: 500px;
    color: #c4c4c4;
    margin-left: 2%;
}
footer h4{
  color: white;
  padding-left: 5%;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

}
footer .follow{
    display: flex;
    align-items: center;
}

footer a{
    text-decoration: none;
    margin-top: 15px; 
    margin-left: 3%;
    color:rgb(255, 255, 255);
    margin-right: 2%;

}
    @media (max-width:799px){
           footer{
            width: 100%;
        }
        
        .section-p1{
            padding: 40px 40px;
        }
    
      
        #banner h2{
            
            font-size: 36px;
        }
         
        #hero{
            height: 70vh;
            padding: 0 80px;
            background-position: top 40% right 0;
            
        }
    
    #hero h2{
        font-size: 24px;
        
    }
    fieldset{
      margin: 0;
    }
    #hero h1{
        font-size: 32px;
        width: 78%;
        line-height: 1.2;
    }
    #hero p{
        font-size: 14px;
        width: 60%;
    }
    
        #navbar{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100%;
            width: 300px;
            background-color: #000000;
            box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
            padding: 80px 0 0 10;
            transition: 1s right;
        }
      
        #navbar.active{
            right: 0px;
            padding-top: 50px;
          
        }
    
        #navbar li{
            margin-top: 25px;
        }
    
        #navbar li .home{
        padding-top: 500px;
        }
    
        #mobile{
            display: flex;
            align-items: center;
        }    
        #mobile i{
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;
        }
        
     
        #sm-banner .banner-box{
            width: 100%;
            height: 250px;
            margin-bottom: 20px;
        }
        #sm-banner .banner-box3{
            height: 16vh
        }
        #close {
            display: initial;
            position: absolute;
            top: 30px;
            left: 30px;
            color: rgb(255, 255, 255);
            font-size: 24px;
        }
      
        .header{
            width: 100%;
        }
        .target-in{
          display: inline-block;
      }
      .target-img{
        width: 90%;
        margin-left: 5%;
      }
      .target-text{
        width: 90%;
        margin-left: 5%;

      }  
      #banner{
        display: inline-block;
      margin-left: 10%;
      margin-top: 10px;
      }
      #texto
      {width: 80%;
         
      }
      #imagen{
          width: 80%;
     }
     #container{
      display: inline-block;
     }
     .paginas{
      width: 100%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 50px;
     }
     #porfolio h1{
      border-bottom: black;
      width: auto;
     }
  .parrafo{
    width: 300px;
  }
    }